/* Pâyidar Design */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap'); /* 'Exo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); /* 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* 'Pacifico', cursive; */

/* Genel */
body{
    background-color: black;
    margin: 0;
}
::selection{
    background: #333;
    color: white;
}
hr{
    background: white;
    border: none;
    height: 5px;
    width: 5px;
    display: block;
    border-radius: 20px;
}

/* Head */
.head{
    background: transparent;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}
.head > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    float: left;
}
.head > a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    float: right;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    transition: 250ms all;
    position: relative;
    top: 20px;
    border-radius: 5em;
    box-shadow: 0px 0px 0px 1px white;
}
.head > a:hover{
    box-shadow: initial;
    background: white;
    color: black;
}

/* K - About */
.k-about{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
}
.k-about > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;    
}
.k-about > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;    
}

/* PAX - About */
.pax-about{
    overflow: hidden;
    padding: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.pax-about > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 1;
}
.pax-about .pax-flex{
    display: flex;
}
.pax-about .pax-flex > div{
    padding: 10px;
    box-shadow: 0px 0px 0px .5px #555;
    margin: 20px;
    flex: 1;
    border-radius: 10px;
    transition: 250ms all;
}
.pax-about .pax-flex > div:hover{
    background-color: #111;
}
.pax-about .pax-flex > div > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
}
.pax-about .pax-flex > div > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
}

/* Pax Team */
.pax-team{
    margin-bottom: 25px;
    overflow: hidden;
}
.pax-team > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 1;
}
.pax-team > .pax-tf{
    display: flex;
    justify-content: center;
}
.pax-team > .pax-tf > div{
    padding: 10px;
    box-shadow: 0px 0px 0px .5px #555;
    margin: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 250ms all;
}
.pax-team > .pax-tf > div:hover{
    background-color: #111;
}
.pax-team > .pax-tf > div > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center
}
.pax-team > .pax-tf > div > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: red;
    text-align: center
}
.pax-team > .pax-tf > div > center{
    display: flex;
    justify-content: center;
}
.pax-team > .pax-tf > div > a, i{
    color: white;
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
    transition: 250ms all;
}
.pax-team > .pax-tf > div > a, i:hover{
    color: #333;
}

/* Footer */
.footer{
    margin-top: 50px;
    border-top: 2px solid white;
}
.footer > .footer-f{
    display: flex;
    justify-content: space-between;
}
.footer > .footer-f > div{
    padding: 10px;
    margin: 10px;
}
.footer > .footer-f > div > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
}
/* .footer > .footer-f > div > a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: 250ms all;
    left: -30px;
    top: 20px
}
.footer > .footer-f > div > a:hover{
    color: #555;
} */

/* Pop Up */
.pop-up{background-color: #111;padding: 10px;overflow: hidden;position: fixed;top: 0;left: 5500px;right: 0;bottom: 0;z-index: 999999999;transition: 500ms all;}
.pop-up i{color: white;font-size: xx-large;float: right;transition: 250ms all;cursor: pointer;display: block;}
.pop-up i:hover{color: #888;transform: scale(1.1);}
.pop-up > h1{font-family: 'Montserrat', sans-serif;font-weight: lighter;color: white;text-align: center;font-size: 80px;}
.pop-up > p{font-family: 'Montserrat', sans-serif;font-weight: lighter;color: white;text-align: center;}
.pop-up-2{background-color: #111;padding: 10px;overflow: hidden;position: fixed;top: 0;left: 5500px;right: 0;bottom: 0;z-index: 999999999;transition: 500ms all;}
.pop-up-2 i{color: white;font-size: xx-large;float: right;transition: 250ms all;cursor: pointer;display: block;}
.pop-up-2 i:hover{color: #888;transform: scale(1.1);}
.pop-up-2 > h1{font-family: 'Montserrat', sans-serif;font-weight: lighter;color: white;text-align: center;font-size: 80px;}
.pop-up-2 > p{font-family: 'Montserrat', sans-serif;font-weight: lighter;color: white;text-align: center;}
.pop-up-3{background-color: #111;padding: 10px;overflow: hidden;position: fixed;top: 0;left: 5500px;right: 0;bottom: 0;z-index: 999999999;transition: 500ms all;}
.pop-up-3 i{color: white;font-size: xx-large;float: right;transition: 250ms all;cursor: pointer;display: block;}
.pop-up-3 i:hover{color: #888;transform: scale(1.1);}
.pop-up-3 > h1{font-family: 'Montserrat', sans-serif;font-weight: lighter;color: white;text-align: center;font-size: 80px;}
.pop-up-3 > p{font-family: 'Montserrat', sans-serif;font-weight: lighter;color: white;text-align: center;}
